<!-- 
<div class="text-layout">

  <h1>{{nombre |titlecase}}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>

  
</div>






<button pButton 
        class="p-button-help"
        icon="pi pi-check" 
        iconPos="right"
        (click)="mostrarNombre()"
        label="Cambiar Nombre"></button>
        
<p-card 
        [header]="nombre | titlecase"
        subheader="Esto es un subheader">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        
</p-card> -->


<app-menu></app-menu>

<router-outlet></router-outlet>
